{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/serviceLimitsRequests/e5fb878d-fa66-46c8-9379-b7e783994b90?api-version=2020-10-25",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/serviceLimitsRequests/e5fb878d-fa66-46c8-9379-b7e783994b90?api-version=2020-10-25"
        ],
        "MS-RequestId": [
          "Fzotio_KK0KwtYcDin2eUg.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/serviceLimitsRequests/e5fb878d-fa66-46c8-9379-b7e783994b90\",\r\n  \"name\": \"e5fb878d-fa66-46c8-9379-b7e783994b90\",\r\n  \"properties\": {\r\n    \"properties\": {\r\n      \"message\": \"Request failed.\",\r\n      \"provisioningState\": \"Failed\",\r\n      \"requestSubmitTime\": \"2021-01-25T22:18:34Z\",\r\n      \"value\": [\r\n        {\r\n          \"limit\": 2,\r\n          \"message\": \"Request failed.\",\r\n          \"name\": {\r\n            \"value\": \"standardFSv2Family\"\r\n          },\r\n          \"provisioningState\": \"Failed\",\r\n          \"subRequestId\": \"e5fb878d-fa66-46c8-9379-b7e783994b90\"\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Capacity/ServiceLimitsRequests\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9f6cce51-6baf-4de5-a3c4-6f58b85315b9"
  }
}