{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/serviceLimits/standardFSv2Family?api-version=2020-10-25",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "MS-RequestId": [
          "mEZnlbQxaEWWCKKZL9JSCw.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/serviceLimits/standardFSv2Family\",\r\n  \"name\": \"standardFSv2Family\",\r\n  \"properties\": {\r\n    \"currentValue\": 0,\r\n    \"limit\": 205,\r\n    \"name\": {\r\n      \"value\": \"standardFSv2Family\",\r\n      \"localizedValue\": \"Standard FSv2 Family vCPUs\"\r\n    },\r\n    \"properties\": {},\r\n    \"unit\": \"Count\"\r\n  },\r\n  \"type\": \"Microsoft.Capacity/ServiceLimits\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9f6cce51-6baf-4de5-a3c4-6f58b85315b9"
  }
}